.select {
    border-radius: 10px;
    border: none;/*sin borde para un aspecto más limpio. */
    margin: 20px;
    background-color: #115d07;
    color: #06f612;
    font-size: 25px;
    font-family: fantasy;
    padding: 10px 20px;/*espacio interno para el texto. */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
    box-shadow: 2px 2px 5px rgb(40, 246, 4); 
}

.select:hover {
    background-color: #06f612;
    color: #115d07; /* Cambia el color del texto al pasar el cursor */
    cursor: pointer;
}

.select:focus {
    border: 2px solid #0d00ff; /* Cambia el borde cuando está enfocado */
}

option {
    background-color: #06f612;
    color: #115d07; 
}

  
  
  
  
  
  