.divNav {
    border-style: inset;
    border-color: lawngreen;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(4, 246, 24);
    border-width: 5px;
    outline: 1px solid greenyellow;
    float: left;
    display: contents; /* Hace que los elementos hijos se muestren en línea uno al lado del otro */
    align-items: flex-end; 
    margin: 1%;
    padding: 1%;
    
}

.linkNav {
    border-radius: 10px;
    border: none;/*sin borde para un aspecto más limpio. */
    margin: 20px;
    background-color: #115d07;
    color: #06f612;
    font-size: 25px;
    font-family: fantasy;
    padding: 10px 20px;/*espacio interno para el texto. */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
    box-shadow: 2px 2px 5px rgb(40, 246, 4); 
}

.linkNav:hover {
    background-color: #06f612;
    color: #115d07; /* Cambia el color del texto al pasar el cursor */
    cursor: pointer;
}

